.todoItem {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  transform: 5s;
  text-transform: capitalize;
  /* margin: 0 32px; */
  margin-top: 20px;
}

.complete {
  text-decoration: line-through;
  color: green;
}

.todoItem:hover {
  color: whitesmoke;
  box-shadow: 24px 19px 12px -9px rgba(84, 94, 97, 0.51);
  -webkit-box-shadow: 24px 19px 12px -9px rgba(84, 94, 97, 0.51);
  -moz-box-shadow: 24px 19px 12px -9px rgba(84, 94, 97, 0.51);
}

.todoItem__checkbox {
  flex: 0.2;
}
.todoItem__title {
  flex: 0.6;
  /* cursor: pointer; */
  border: none;
  background: transparent;
  font-size: 32px;
}

.todoItem__deleteIcon {
  flex: 0.2;
  cursor: pointer;
}
