* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background: url('./tokyo-image.jpg');
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: cover;
}
